<p>Olá {{ nome }},</p>

<p>
  Estamos quase lá. Por favor, confirme seu email clicando no link abaixo:
</p>

<p>
  <a href="{{ 'http://127.0.0.1:3333/register/confirm/' + confirmation_token }}">Confirmação de email</a>
</p>